<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hmrocket.magicpoker"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<application
		android:name=".MyApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:isGame="true"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activity.SplashActivity"
			android:configChanges="orientation|keyboardHidden|screenSize"
			android:label="@string/app_name"
			android:noHistory="true"
			android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
			>
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activity.MainActivity"
			android:label="@string/app_name"
			>
		</activity>
		<activity
			android:name=".activity.GameActivity"
			android:label="@string/title_activity_game"
			android:theme="@style/FullscreenTheme">
		</activity>

		<!--
			 Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
			 installation campaign reporting
		-->
		<receiver
			android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
			android:exported="true">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER"/>
			</intent-filter>
		</receiver>

		<service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>
		<!--
		  Optionally, register AnalyticsReceiver and AnalyticsService to support background
		  dispatching on non-Google Play devices
		-->
		<receiver
			android:name="com.google.android.gms.analytics.AnalyticsReceiver"
			android:enabled="true">
			<intent-filter>
				<action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
			</intent-filter>
		</receiver>

		<service
			android:name="com.google.android.gms.analytics.AnalyticsService"
			android:enabled="true"
			android:exported="false"/>

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>

		<activity
			android:name=".activity.StoreActivity"
			android:label="@string/title_activity_store"
			android:parentActivityName=".activity.MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.hmrocket.magicpoker.activity.MainActivity"/>
		</activity>
		<activity
			android:name=".activity.GuideActivity"
			android:label="@string/title_activity_guide"
			android:parentActivityName=".activity.MainActivity"
			android:theme="@style/AppTheme.NoActionBar">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.hmrocket.magicpoker.activity.MainActivity"/>
		</activity>
		<activity
			android:name=".activity.SettingsActivity"
			android:label="@string/title_activity_settings"
			android:parentActivityName=".activity.MainActivity">
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="com.hmrocket.magicpoker.activity.MainActivity"/>
		</activity>
	</application>

</manifest>